@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* font-family: 'Poppins', sans-serif;
  background-color: #1f1f38;
   line-height: 1.7;
  background-image: url(../src/assets/bg-texture.png); */
}

@keyframes slide-left-to-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(2%);
    }
  }
 
  .animate-slide-left-to-right {
    animation: slide-left-to-right 5s ease-in-out infinite;
  }
  